$background-pale: rgb(181, 195, 247);

// is like defining a function
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    // use that function and pass in parameter
    @include zero-margin(20px, 20px);
}

.footer-container {
  background-color: $background-pale;
}
