<div class="signin-container grid-container">
  <div class="form-container">
    <form [formGroup]="signInFormGroup">
      <h1 class="sign-in-header">Leadway</h1>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Email" type="email" name="email" formControlName="email" required>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('email').hasError('email')
          && !signInFormGroup.get('email').hasError('required')
          && (signInFormGroup.get('email').dirty || signInFormGroup.get('email').touched)">
          Please enter a valid email address
        </mat-error>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('email').hasError('required')
          && (signInFormGroup.get('email').dirty || signInFormGroup.get('email').touched)">
          Email is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signInFormGroup.value.email" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignInEmail()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Password" type="password" name="password"
          formControlName="password" required>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('password').hasError('required')
          && (signInFormGroup.get('password').dirty || signInFormGroup.get('password').touched)">
          Password is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signInFormGroup.value.password" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignInPassword()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-checkbox class="mat-form-checkbox" formControlName="rememberMe">Remember Me</mat-checkbox>

      <button class="sign-in-button" mat-stroked-button type="submit" (click)="signInUser()">
        <span *ngIf="!userSigninService.getSignInClicked()">Sign In</span>
        <span *ngIf="userSigninService.getSignInClicked()"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
      </button>
      <div class="form-footer">
        New to Leadway? <span class="toggle-button" (click)="signUpToggle()">Sign Up Now!</span>
      </div>
    </form>
  </div>

</div>
