<div class="signin-container grid-container">
  <div class="form-container">
    <form *ngIf="signInNow" [formGroup]="signInFormGroup">
      <h1 class="sign-in-header">Leadway</h1>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Email" type="email" name="email" formControlName="email" required>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('email').hasError('email')
          && !signInFormGroup.get('email').hasError('required')
          && (signInFormGroup.get('email').dirty || signInFormGroup.get('email').touched)">
          Please enter a valid email address
        </mat-error>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('email').hasError('required')
          && (signInFormGroup.get('email').dirty || signInFormGroup.get('email').touched)">
          Email is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signInFormGroup.value.email" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignInEmail()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Password" type="password" name="password"
          formControlName="password" required>
        <mat-error class="error-message" *ngIf="signInFormGroup.get('password').hasError('required')
          && (signInFormGroup.get('password').dirty || signInFormGroup.get('password').touched)">
          Password is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signInFormGroup.value.password" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignInPassword()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button class="sign-in-button" mat-stroked-button type="submit" (click)="signInUser()">Sign In</button>
      <div class="form-footer">
        New to Leadway? <a class="sign-up-button" (click)="signUpToggle()">Sign Up Now!</a>
      </div>
    </form>

    <form *ngIf="!signInNow" [formGroup]="signUpFormGroup">
      <h1 class="sign-in-header">Leadway</h1>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Email" type="email" name="email" formControlName="email" required>
        <mat-error class="error-message" *ngIf="signUpFormGroup.get('email').hasError('email')
          && !signUpFormGroup.get('email').hasError('required')
          && (signUpFormGroup.get('email').dirty || signUpFormGroup.get('email').touched)">
          Please enter a valid email address
        </mat-error>
        <mat-error class="error-message" *ngIf="signUpFormGroup.get('email').hasError('required')
          && (signUpFormGroup.get('email').dirty || signUpFormGroup.get('email').touched)">
          Email is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signUpFormGroup.value.email" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignUpEmail()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Password" type="password" name="password"
          formControlName="password" required>
        <mat-error class="error-message" *ngIf="signUpFormGroup.get('password').hasError('required')
          && (signUpFormGroup.get('password').dirty || signUpFormGroup.get('password').touched)">
          Password is <strong>required</strong>.
        </mat-error>
        <button mat-button *ngIf="signUpFormGroup.value.password" matSuffix mat-icon-button
          aria-label="Clear" (click)="resetSignUpPassword()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button class="sign-in-button" mat-stroked-button type="submit" (click)="registerNewUser()">
        Register</button>
      <div class="form-footer">
          Back to <a class="sign-up-button" (click)="signUpToggle()">Sign In.</a>
      </div>
    </form>
  </div>

</div>
