<div class="verify-container">
  <h3 class="verify-header">Congratulation! Your registration is successful</h3>
  <div class="verify-step1">
    1. Now, please <b>check your email</b> for message sent from Leadway to
    finalize the verification steps in order to <b>activate your account.</b>
  </div>
  <div class="verify-step2">
    2. Once you have verified your account, you will be able to
    login into Leadway's platform based on the email and password
    provided during the registration steps.
  </div>
  <span class="signin-link" (click)="navigateToSignIn()">
    Navigate to the login page now!
  </span>
</div>
