.verify-container {
  width: 50%;
  padding: 30px;
}

.verify-header {
  font-weight: bold;
  color: #1A62AC;
}

.verify-step1 {
  font-size: 20px;
  margin: 20px 0px;
}

.verify-step2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.signin-link {
  color: blue;
}

.signin-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
