$background-dark: #25315B;

.signup-form-container{
  min-width: 100%;
  width: 100%;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.signup-form-intro {
  @include zero-margin(50px,30px);
  background: $background-dark ;
  color:floralwhite;
  min-height: 60px;
}

.button-group {
  position: absolute;
  right: 30px;
  margin: 0;
}

.signup-form-title{
  font-family: Arial Black;
}

.signup-form-explanation {
  font-size: 20px;
  font-family:Tahoma;
}

.form-container {
  width: 85%;
  margin: 0 auto;
  padding: 30px;
}

.signup-form {
  display: flex;
  justify-content: space-between;
}

.step-container {
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.user-type-explanation {
  margin: 25px 0px;
}


.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-item {
  width: 50%;
}

.first-name-item {
  margin-right: 10px;
}

.city-container {
  display: flex;
  flex-direction: row;
}

.city-container > * {
  width: 33%;
}

.state-item {
  margin: 0px 10px;
}

.register-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: #4d94ff;
  color: white;
  font-size: 16px;
}

.register-button:hover {
  cursor: pointer;
}
