$background-dark: #25315B;

.signup-form-container{
  min-width: 100%;
  width: 100%;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.signup-form-intro {
  @include zero-margin(50px,30px);
  background: $background-dark ;
  color:floralwhite;
  min-height: 60px;
}

.button-group {
  position: absolute;
  right: 30px;
  margin: 0;
}

.signup-form-title{
  font-family: Arial Black;
}

.signup-form-explanation {
  font-size: 20px;
  font-family:Tahoma;
}

.form-container {
  width: 85%;
  margin: 0 auto;
  padding: 30px;
}

.signup-form {
  display: flex;
  justify-content: space-between;
}

.step-container {
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.user-type-explanation {
  margin: 25px 0px;
}


.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-item {
  width: 50%;
}

.first-name-item {
  margin-right: 10px;
}

.city-container {
  display: flex;
  flex-direction: row;
}

.city-container > * {
  width: 33%;
}

.state-item {
  margin: 0px 10px;
}

.register-button {
  margin-top: 10px;
  font-weight: bold;
}

.register-button:hover {
  cursor: pointer;
}

//

  // .uiHeaderTitle {
  //   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  //   border-bottom: 1px solid rgb(173, 170, 170);
  //   padding-bottom: 10px;
  // }

  // .label-style {
  //   font-size: 120%;
  //   font-family: "Gill Sans";
  // }

  // .address-container {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .address-container > * {
  //   width: 40%;
  // }

  // .register-button {
  //   background-color: rgb(85, 85, 99);
  //   color: white;
  //   font-weight: bold;
  // }

  // .sign-up-button {
  //   color: rgb(48, 48, 51);
  //   font-weight: bold;
  // }

  // .sign-up-button:hover {
  //   cursor: pointer;
  //   text-decoration: underline;
  // }

  // .form-footer {
  //   margin-top: 30px;
  //   font-size: 18px;
  //   display: flex;

  //   justify-content: flex-end;

  // }
