<div class="account-info-container">
  <div class="info-section-container user-info">
    <div>
      <h3>{{userName}}</h3>
      <h4>{{userEmail}}</h4>
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary edit-profile-button"
          title="edit your information">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="info-section-container">
    <h3>Uploaded Tasks</h3>

    <table mat-table [dataSource]="adminTasksDataSource" class="adminTaskTable">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Task Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Task Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Task End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="openDate">
        <th mat-header-cell *matHeaderCellDef> Task Open Date </th>
        <td mat-cell *matCellDef="let element"> {{element.openDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="icon-button edit-button" title="edit this task"
            (click)="editOptionClicked(element); $event.stopPropagation()" type="button">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="icon-button delete-button" title="delete this task"
            (click)="deleteOptionClicked(element); $event.stopPropagation()" type="button">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="adminTasksColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: adminTasksColumns;" (click)="adminRowClicked(row)"></tr>

    </table>
  </div>
</div>
